<!-- pet_info.html -->

{% extends 'base.html' %} 
{% block title %}{{ pet.name }}'s info{% endblock %} 
{% block content %}

<h1>{{pet.name}}'s info</h1>

<div>
  <img src="pet.photo_url" alt="{{pet.name}}'s photo" />
  <p>Name: {{pet.name}}</p>
  <p>Species: {{pet.species}}</p>
  <p>Age: {{pet.age}}</p>
</div>
<form action="/{{pet_id}}", method="POST">
    <label for="photo_url">Photo URL</label>
    <input type="text" name="photo_url" id="photo_url" value={{pet.photo_url}}></br></br>

    <label for="notes">Notes</label>
    <input type="text" name="notes" id="notes" value={{pet.notes}}></br></br>

    <label for="available">Available</label>
    <input type="checkbox" name="available" id="available" {% if pet.available %}checked{% endif %}></br></br>
  <button>Save</button>
</form>

{% endblock %}
